{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container">
            <h1 class="mb-4 text-primary text-center">Blog</h1>
            <div class="">
                {% for post in posts %}
                    <div class="card shadow-lg p-4 my-4 mx-auto" style="max-width: 540px;">
                        <div class="card-header">
                            <h2 class="card-title">{{ post.title }}</h2>
                        </div>
                        <p class="card-body">{{ post.content }}</p>
                        <div class="card-footer">
                            <p>{{ post.publishedAt|date("d/m/Y") }}</p>
                            <a href="{{ path('post_read', { slug: post.slug }) }}">Read More</a>
                            <p>{{ post.comments|length }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
